<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="portfolio.component.css">

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background-color: #7aa8b7;
            border-radius: 6px;
            outline: none;
      }

  
    </style>
    
</head>
<body>
    <div class="box">
        <div class="objective">
            <div class="obj-head grey">
                <h2>Portfolio</h2>
            </div>

            <div class="project">
                <p> <strong>Boado's Kitchen</strong></p>
                <p><u>Creator, Designer, Developer</u></p>
                <ul><li>August 2021 - December 2021</li></ul>
            </div>
            <ul>
                <ul>
                    <li>
                        <p>
                            We are committed to providing an efficient, collaborative, 
                            and fulfilling workplace for our employees while also providing 
                            the greatest levels of quality, service, and dependability to our 
                            clients.
                        </p>
                    </li>
                </ul>
            </ul>
            <a href="https://boadoskitchen.com" class="button" target="_blank"><u>Visit Boado's Kitchen</u></a>
           
           
        </div>
    </div>
    
    
</body>
</html>