body{
    margin: 0;
    padding: 0;
    background: rgb(240, 239, 239);
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
    font-weight: 400;

}
h2{
    margin: 0;
    font-weight: 400;
    /* display: inline-block; */
}
.box{
    background: #fff;
    padding: 20px;
    width: 50rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
}


.grey{
    background: rgb(133, 133, 133);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
