<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <div class="obj-head grey" style="width: 50rem; margin: 1rem auto;">
        <h2>About</h2>
    </div>

    <div class="box">
        <div class="objective">
            
            <p>
                Hi! I'm Shanine Alyzza R. Guinto.  I'm a college student
                taking Bachelor of Science in Information Technology Majoring Web development 
                in Holy Angel University.
             </p>

            <div class="address">
                <p><strong>Address</strong></p>
                <ul>123 A Bonifacio St., Angeles City, Pampanga, PH</ul>
            </div>

            <div class="email">
                <p><strong>E-mail</strong></p>
                <ul>shanineguinto30@gmail.com</ul>
            </div>

            <div class="fb">
                <p><strong>Socials</strong></p>
                <ul>https://www.facebook.com/sr.guinto</ul>
                <ul>https://twitter.com/shanineg</ul>

            </div>
        
            
        </div>
    </div>
    <br>
    
    
</body>
</html>