<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>About</title>
</head>

<body>
   
    <div class="heads">
        <h2>About</h2>
    </div>
    <div class="about">
        <br>
        <p>The Cheesecake Factory® concept continues to be the key driver of our business today, generating the majority of our revenues. The Cheesecake Factory restaurants provide a distinctive, high quality dining experience at moderate prices. 
            We offer an extensive, innovative and evolving menu in an upscale casual, high energy setting with attentive, efficient and friendly service. As a result, The Cheesecake Factory restaurants appeal to a diverse consumer base across a broad demographic range.
            <br><br>
            Our extensive menu and strategic selection of locations enable us to compete for substantially all dining preferences and occasions, from the key lunch and dinner day parts to the mid-afternoon and late-night day parts, which are traditionally weaker times for most casual dining restaurants, as well as special occasion dining. 
            The Cheesecake Factory restaurants are generally open seven days a week for lunch and dinner, and we offer additional menu items for weekend brunch. 
            The Cheesecake Factory menu features approximately 250 items, including items presented on supplemental menus, such as our SkinnyLicious® menu, which offers innovative items at 590 calories or less. 
            We offer a broad array of options, including “Super” food choices and a selection of gluten-free items, as well as approximately 45 varieties of cheesecake and other quality baked desserts. 
            Each of our generously portioned menu items, except desserts manufactured at our bakery production facilities, are all handmade in-house with fresh ingredients including more than 70 different sauces, dressings and marinades. 
            All items on our menu, except alcoholic beverages where disallowed by regulation, are available for off-premise consumption, which represented approximately 43% of our restaurant sales for fiscal 2020, an increase from approximately 16% in fiscal 2019 as most of our restaurants shifted to an off-premise-only operating model at the beginning of the COVID-19 pandemic and consumer behavior shifted toward off-premise dining throughout the pandemic.
            <br><br>
            All of our restaurants offer a full-service bar where our entire menu is served. Alcoholic beverage sales represented 9% of 
            The Cheesecake Factory restaurant sales for fiscal 2020 compared to 12% in fiscal 2019, primarily due to lower alcoholic beverage sales associated with off-premise orders, which increased significantly during the COVID-19 pandemic.
            <br><br>
            Our ability to create, promote and attractively display our unique line of desserts is also important to the competitive positioning and financial success of our restaurants. 
            Our brand identity and reputation for offering premium desserts results in a significant level of dessert sales, representing approximately 21% of The Cheesecake Factory restaurant sales for fiscal 2020, up from 16% in fiscal 2019, primarily driven by increased dessert incident rates on off-premise orders during the COVID-19 pandemic.
            <br><br>
            The average check for each The Cheesecake Factory guest, including beverages and desserts, was $28.90 in fiscal 2020, compared to $23.50 in fiscal 2019. 
            Fiscal 2020 average check reflects the impact of higher off-premise channel mix, as most of our restaurants shifted to an off-premise-only operating model at the beginning of the COVID-19 pandemic and consumer behavior shifted toward off-premise dining throughout the pandemic.
            <br><br>

            Our shop is known to many celebrity customers, such as Alodia Gosiengfiao, Tryke Gutierrez, Ako si Dogie and more!
            Our items are all authentic from different prominent companies such as Bandai, Kotobukiya, Figma and MegaHouse.
        </p>
 
    </div>
    
</body>
</html>