<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="education.component.css">
</head>
<body>
    <div class="ed-head grey" style="width: 50rem; margin: 1rem auto;">
        <h2>Education</h2>
    </div>
    <div class="box">   
        <div class="education">
            <table>
                <tr>
                    <th>Education</th>
                    <th>School</th>
                    <th>Year</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>Senior High School</td>
                    <td>Holy Angel University</td>
                    <td>2017 - 2019</td>
                    <td>89 </td>
                </tr>
                <tr>
                    <td>BS, Information Technology in Web Development </td>
                    <td>Holy Angel University</td>
                    <td>2019 - 2023</td>
                    <td>90</td>
                </tr>
                
            </table>
        </div>
    </div>
    <br>
    
    
</body>
</html>
